PORT=3000
NODE_ENV=development

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=senha
DB_NAME=tmdb_challenge

# JWT
JWT_SECRET=uma_chave_secreta_bem_forte
JWT_EXPIRES_IN=1h

# TMDB
TMDB_API_KEY=your_tmdb_api_key_here
TMDB_BASE_URL=https://api.themoviedb.org/3

# Redis
REDIS_URL=redis://localhost:6379
